html,body,main{
    height: 100%;
    background-color: rgb(166, 121, 250);
}

main{
    
    display: flex;
}

#game{
    background-color: rgb(255, 254, 174);
    margin: auto;
    width: 500px;
    height: 500px;
    text-align: center;
}

#board{
    background-color: rgb(203, 198, 211);
    margin: auto;
    width: 300px;
    height: 300px;
}
.new-game-btn{
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
} 

.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 70px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.msg{
    margin: 15px auto;
    width: 300px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.success{
    border-color: green;
    background-color: honeydew;
    color: rgb(166, 121, 250);
}

.error{
    border-color: red;
    background-color: rgb(196, 29, 29);
    color: rgb(241, 195, 195);
}